html{
  height: 100%;
}

body {
  /*display: flex;
  justify-content: center;
  flex-direction: column;*/
  height: 100%;
  background-color: #ffffff;
}

.mono{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /*padding-top: 20%;
  padding-left: 40%;
  padding-bottom: 20%;*/
  background-color: aqua;
  padding-bottom: 15%;
  padding-top: 10%;
}

.text h2{
  text-transform: uppercase;
}

.low_text h3 {
  font-size: 15;
  font-weight: lighter;
  margin-left: 40%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease; 
}
.slider img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  width: 100%;
  height: auto;
}

.slider-container {
  width: 300px; 
  overflow: hidden;
  margin-left: 40%;
}
